$ucla-gold: #ffd100;
$ucla-blue: #2774ae;
$lightest-blue: #daebfe;
$lighter-blue: #8bb8e8;
$darker-blue: #005587;
$darkest-blue: #003b5c;
$darker-gold: #ffc72c;
$darkest-gold: #ffb81c;
$cyan: #00ffff;
$magenta: #ff00a5;
$green: #00ff87;
$chateau-green: #32aa56;
$yellow: #ffff00;
$purple: #8a69d4;
$black: #000000;
