$white-smoke: #f6f6f6;
$gainsboro: #dcdcdc;
$star-dust: #a1a1a1;
$steel: #666666;
$mine-shaft: #333333;
$sea-buckthorn: #fda529;
$mariner: #3477d0;
$bahama-blue: #214c85;
$nile-blue: #153053;
$my-sin: #fdb22b;