$nile-blue: #122e54;
$midnight-blue: #1f4a87;
$mariner: #2e75d4;
$white-smoke: #f5f5f5;
$gainsboro: #dbdbdb;
$star-dust: #a1a1a1;
$steel: #666666;
$mine-shaft: #333333;
$ucla-gold: #ffb300;
$orange: #ffa600;
